*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dissappear{
    animation: vanish 1s forwards;
}
@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.loader-wrapper{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    min-height: 100vh;
    background: #000;
    z-index: 2000;
}
.loader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #10ff00;
    filter: blur(100);
    animation: animado 4s linear infinite;
}
@keyframes animado{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loader .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #10ff00;
    box-shadow: 0 0 0 5px #10ff0033,
    0 0 0 10px #10ff0022,
    0 0 0 20px #10ff0011,
    0 0 20px #10ff00,
    0 0 50px #10ff00;
}

.loader .ring:nth-child(2){
    animation: animado2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #00fffa;
}
.loader .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #00fffa;
    box-shadow: 0 0 0 5px #00fffa33,
    0 0 0 10px #00fffa22,
    0 0 0 20px #00fffa11,
    0 0 20px #00fffa,
    0 0 50px #00fffa;
}
@keyframes animado2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.loader .ring:nth-child(3){
    position: absolute;
    top: -66.66px;
    animation: animado2 4s linear infinite;
    animation-delay: -3s;
    border-top: 4px solid transparent;
    border-left: 4px solid #e100ff;
}
.loader .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e100ff;
    box-shadow: 0 0 0 5px #e100ff33,
    0 0 0 10px #e100ff22,
    0 0 0 20px #e100ff11,
    0 0 20px #e100ff,
    0 0 50px #e100ff;
}
.loader p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: -100px;
    letter-spacing: 0.15em;
}